
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "inter", sans-serif;
}


p {
    color: #d1d1d1;
}

span {
    color: #0A1F44;
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffcc33;
    font-family: 'Playfair Display', serif;
}

img {
    width: 100%;
    
}

.logo {
    width: 150px; 
    height: auto;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1350px;
}

@media (max-width: 1350px) {
    .container {
        width: 90%;
    }
}


header .top-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    background-color: #fff;
}

header .top-header .container img {
    width: 80px;
    height: auto;
}





header .top-header .search-box {
    width: 610px;
    display: flex;
    border-radius: 2px;
        background-color: rgb(238, 233, 233);

}

header .top-header .search-box input {
    height: 50px;
    width: 400px;
    padding: 5px 15px 5px 10px;
    border-radius: 0;
    background-color: rgb(238, 233, 233);
    outline: none;
    border: none;
}

header .top-header .search-box select {
    height: 55px;
    width: 196px;
    outline: none;
    border: none;
 background-color: rgb(238, 233, 233);

}

header .top-header .search-box select option {
    font-size: 15px;
}

header .top-header .search-box button {
    height: 55px;
    width: 50px;
    background-color:rgb(238, 166, 32);
    font-size: 18px;
    outline: none;
    border: none;
}

header .top-header .search-box button i {
    color: white;
}


header .top-header .header-icons {
    display: flex;
    gap: 37px;
}

header .top-header .header-icons a {
    position: relative;
    height: 100%;
}

header .top-header .header-icons .count {
    position: absolute;
    top: -7px;
    right: -10px;
    height: 15px;
    width: 20px;
    background-color: rgb(238, 166, 32);
    color: white;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


header .button-header {
    border-top: 2px solid rgb(245, 252, 245);
}

header .button-header .nav {
    display: flex;
    align-items: center;
    gap: 34px;
    height: 69px;
}

header .button-header .category-nav {
    width: 220px;
    height: 100%;
    position: relative;
}


header .button-header .category-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f3a541; 
    padding: 10px 16px;
   height: 90%;
    width: 100%;
    cursor: pointer;
}

header .button-header .category-btn .left {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .button-header .category-btn p {
    color: white;
    font-weight: 600;
    font-size: 15px;
}

header .button-header .category-btn i {
    color: white;
    font-size: 18px;
}


header .button-header ul {
    display: flex;
    gap: 30px;
}

header .button-header ul li a {
    font-size: 15px;
    color: #333;
}

header .button-header ul li a.active {
    color: #f3a541;
    font-weight: bold;
}


.login-signup-btns {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-signup-btns a {
    color: #333;
    font-weight: 600;
}

.login-signup-btns i {
    color: #333;
}
header .button-header .nav-links li:hover a {
    transition: 0.3s;
    color: #f3a541;
    
}
.login-signup-btns{
    display: flex;
    align-items: center;
    gap: 20px;  
}
.btn{
    padding: 10px 18px;
    text-transform: capitalize;
   border-radius: 2px;
    background-color: #dd9237;
    display: flex;
    gap:20px;
    align-items: center;
   
}

.btn i {
    color: white;
}
.login-signup-btns .btn{
    color: rgb(246, 247, 248);
}
.btn:hover {
    scale: 0.88;
    transition: 0.3s;
}

header{
    box-shadow: 5px 8px rgb(240, 236, 236);
}

header .button-header .category-nav .category-nav-list li {
    display: block;
    padding: 10px 15px;
}
header .button-header .category-nav .category-nav-list {
    position: absolute;
    border-top: 0;
    
    left: 0;
    width:100%;     
    background-color: rgb(243, 245, 245);
    border: 2px solid rgb(231, 233, 231);
    border-radius: 4px;
    display: flex;
    flex-direction: column;

    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    transition: 0.3s;
  

   }

   header .button-header .category-nav .category-nav-list.active{



    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}


   


header .button-header .category-nav .category-nav-list a{

padding: 14px 12px;
border-bottom: 1px solid  rgb(117, 126, 117);
font-size: 14px;



}
header .button-header .category-nav .category-nav-list a:hover{
    background-color: rgb(134, 136, 133);

}
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
 
  header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
body {
  padding-top: 190px;
}


/* === SLIDER GENERAL === */
.slider{
    width: 100%;
    position: relative;
}

/* الكونتينر الرئيسي */
.slider .container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* === SWIPER === */
.slider .container .slide-swp{
    width: 75%;
    height: 350px;      /* ✅ مهم */
    overflow: hidden;
}

/* تأكيد ارتفاع السوايبر */
.swiper-wrapper{
    height: 100%;
}

/* كل سلايد */
.swiper-slide{
    width: 100%;
    height: 100%;
}

/* الصور داخل السلايدر */
.swiper-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* === BANNER الجانبي === */
.slider .banner_2{
    width: 23%;
    height: 350px;
    overflow: hidden;
}

/* صورة البانر */
.slider .banner_2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.banner_2{
  width: 23% !important;
  height: 350px !important;
  overflow: hidden;
  background: red;   /* اختباري فقط */
}

.banner_2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.slider .container .slide-swp{
    overflow: hidden;
    width: 75%;
}
.slider .container .slide-swp .swiper-pagination span {

     opacity: 0;
     background-color: #fff;
   

}